html{
    background-image: url("img/images.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

form{
    background-color: aqua;
}

#mySign{
    color: black;
    font-size: 40px;
    background-color: white;
}

